@model IEnumerable<MVCTaskClient.Models.QuoteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuoteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
